.kfmWOz {
  text-transform: none!important;
}

.map-control, .select-geometry, .popover-pin {
  display: none!important;
}

.wb-map-control-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 14px;
  text-align: center;
  transition: 0.4s;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px;
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 0;
  background-color: rgb(42, 50, 60);
  color: rgb(106, 116, 133);
  border: none;
  position: relative;
  z-index: 110;
}

.wb-map-control-button:hover,
.wb-map-control-button.isActive {
  color: white;
  background-color: rgb(58, 65, 76);
}

.wb-map-control-button:disabled, 
.wb-map-control-button[disabled] {
  pointer-events: none;
  opacity: 0.85;
  cursor: default;
}

.wb-tooltip {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.71429;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(-8px, -50%);
  background-color: rgb(58, 65, 76);
  color: rgb(240, 240, 240);
  text-align: initial;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 200ms;
  white-space: nowrap;
}

.wb-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%) rotate(-90deg);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(58, 65, 76) transparent transparent transparent;
}

.wb-map-control-button:hover .wb-tooltip {
  opacity: 1;
}

.wb-map-control {
  right: 0px;
  padding: 12px;
  z-index: 10;
  margin-top: 0px;
  position: absolute;
  display: grid;
  row-gap: 8px;
  justify-items: end;
}

.wb-menu {
  left: 0px;
  padding: 12px;
  z-index: 10;
  margin-top: 0px;
  position: absolute;
  display: flex;
  gap: 8px;
  justify-items: flex-end;
}

.wb-menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 14px;
  text-align: center;
  transition: 0.4s;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px;
  height: 32px;
  width: 90px;
  padding: 0;
  border-radius: 0;
  background-color: rgb(42, 50, 60);
  color: rgb(106, 116, 133);
  border: none;
  position: relative;
  z-index: 110;
}

a.wb-menu-button {
  text-decoration: none;
}

.wb-menu-button:hover {
  color: white;
  background-color: rgb(58, 65, 76);
}

.wb-modal-close {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
}

.wb-modal-title {
  font-weight: 400;
  line-height: 1.72;  
  font-size: 24px;
  color: rgb(58, 65, 76);
  margin-bottom: 10px;
}

.modal-content {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 4px!important;
  transition: 0.4s;
  background-color: rgb(255, 255, 255);
  color: rgb(106, 116, 133);
}

.modal-body {
  padding-top: 25px!important;
  padding-bottom: 40px!important;
  padding-right: 50px!important;
  padding-left: 50px!important;
}

.wb-select-button {
  background-color: rgb(15, 150, 104);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.3px;
  line-height: 14px;
  height: 40px;
  width: 130px;
  border: 0px;
  transition: 0.4s;
}

.wb-select-button:hover {
  background-color: rgb(19, 177, 123);
  transition: background-color 0.4s ease;
}

.wb-form-label {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  font-weight: 400;
  line-height: 1.72;
  color: rgb(106, 116, 133);
  font-size: 14px;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  box-sizing: border-box;
}

.wb-form-control {
  cursor: pointer;
  align-items: center;
  border-radius: 2px;
  caret-color: rgb(58, 65, 76);
  font-size: 12px;
  font-weight: 500;
  height: 34px;
  justify-content: space-between;
  outline: none;
  padding: 4px 10px;
  text-overflow: ellipsis;
  transition: 0.4s;
  white-space: nowrap;
  width: 100%;
  overflow-wrap: normal;
  pointer-events: all;
  opacity: 1;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 216, 224);
  color: rgb(41, 50, 60);
  box-sizing: border-box;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.gray {
  color: gray;
}

select.black {
  color: black;
}

.wb-legend-box {
  z-index: 9999;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 20px 12px;
  border-radius: 4px;
}
.wb-legend-panel {
  background-color: rgb(36, 39, 48);
}
.wb-legend-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(41, 50, 60);
  height: 32px;
  padding: 6px 12px;
  font-size: 11px;
  color: rgb(255, 255, 255);
}
.wb-legend-content {
  padding: 10px 12px;
  font-size: 11px;
}
.wb-legend-title {
  color: rgb(240, 240, 240);
  font-weight: 500;
  padding-bottom: 5px;
}

.wb-legend table { border-collapse: separate; }

.wb-legend-label {
  font-size: 9px;
  color: rgb(160, 167, 180);
}

.wb-legend-color {
  width: 20px;
}

.wb-opacity-box {
  z-index: 9;
  position: absolute;
  right: 50px;
  top: 120px;
  padding: 12px 12px;
  width: 90px;
  border-radius: 4px;
}
.wb-opacity-panel {
  background-color: rgb(36, 39, 48);
}
.wb-opacity-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(41, 50, 60);
  height: 32px;
  padding: 6px 12px;
  font-size: 11px;
  color: rgb(255, 255, 255);
}

.wb-opacity-label {
  text-align: right;
  font-size: 9px;
  color: rgb(160, 167, 180);
}

.wb-opacity-content {
  display: grid;
  place-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

input[type="radio"] {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #6a7485;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

input[type="radio"]:checked {
  background-color: #6a7485;
}

.wb-radio-label {
  font-weight: 400;
  line-height: 1.72;
  color: rgb(106, 116, 133);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.datepicker {
  font-size: 12px!important;
}

.datepicker table tr td span.active {
  background-image: none!important;
  background-color: #6a7485!important;
}

.wb-select2-options {
  font-size: 12px;
  font-weight: 500;
  color: rgb(41, 50, 60);
}

.select2-search__field:focus {
  outline: none !important;
}